.d-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-content-start{
  justify-content: start;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-end{
  justify-content: end;
}

.align-items-center{
  align-items: center;
}