<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>部落格︱眼鏡官網 [2023切版直播班-主線任務四]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="blog-nav-bg">
      <div class="container blog-navbar">
        <ul class="blog-nav-list">
          <li><a href="#">最新消息</a></li>
          <li><a href="#">特別企劃</a></li>
          <li><a href="#">新品上市</a></li>
          <li><a href="#">鏡框小知識</a></li>
        </ul>
        <div class="blog-search"><a href="#"><span class="material-symbols-outlined">search</span></a></div>
      </div>
    </div>
    <div class="container">
      <ul class="blog-breadcrumb">
        <li><a href="#">首頁<span>/</span></a></li>
        <li><a href="#">部落格<span>/</span></a></li>
        <li><a href="#">特別企劃<span>/</span></a></li>
        <li><a class="current" href="#">情人特別企劃</a></li>
      </ul>
    </div>
    <div class="container">
      <ul class="blog-tagged">
        <li><a href="#">#special</a></li>
        <li><a href="#">#event</a></li>
      </ul>
    </div>
    <div class="container blog-content">
      <div class="blog-box">
        <h3 class="blog-content-title">情人特別企劃</h3>
        <p>2020 Valentine’s Special</p>
        <div class="blog-item">
          <img class="blog-item-pic" src="/assets/images/blogpage-1.png" alt="blog">
          <p class="blog-item-summary">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
        </div>
        <div class="blog-item">
          <img class="blog-item-pic" src="/assets/images/blogpage-2.png" alt="blog">
          <p class="blog-item-summary">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
        </div>
        <div class="blog-item">
          <img class="blog-item-pic" src="/assets/images/blogpage-3.png" alt="blog">
          <p class="blog-item-summary">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
        </div>
        <div class="blog-item">
          <img class="blog-item-pic" src="/assets/images/blogpage-4.png" alt="blog">
          <p class="blog-item-summary">2/14(五)-2/20(日)<br/>至本店單筆消費滿2980元, <br/>就送情人節限定眼鏡盒1個 <br/>期間優惠還有~~持他牌鏡框更換鏡片 <br/>薄型非球面鏡片折300元 <br/>濾藍光鏡片折500元 快快帶上另一半 <br/>讓彼此每一次睜開眼，都被愛的視線包圍!</p>
        </div>
        <div class="blog-share"><span>Share</span><a href="#"><img src="/assets/images/logo-facebook.png"></a><a href="#"><img src="/assets/images/logo-instagram.png"></a></div>
        <ul class="blog-path">
          <li><span class="material-symbols-outlined previous">arrow_back</span><a href="#">上一篇：街頭潮人訪問 1</a></li>
          <li><a href="#">下一篇：街頭潮人訪問 2</a><span class="material-symbols-outlined next">arrow_forward</span></li>
        </ul>
      </div>
      <div class="blog-tags-box">
        <div class="blog-tags-title"><span class="material-symbols-outlined">label</span><p>TAGS</p></div>
        <ul>
          <li><a href="#">#special</a></li>
          <li><a href="#">#sale</a></li>
          <li><a href="#">#new_item</a></li>
          <li><a href="#">#interview</a></li>
          <li><a href="#">#interview</a></li>
          <li><a href="#">#news</a></li>
          <li><a href="#">#event</a></li>
        </ul>
      </div>
      
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
