<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>門市據點︱眼鏡官網 [2023切版直播班-主線任務四]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <h3 class="shop-title">門市據點</h3>
      <div class="shop-select">
        <label for="shop-select">選擇分店</label>
        <select name="location" id="shop-select">
          <option value="台北中山旗艦店">台北中山旗艦店</option>
          <option value="台北市中正店">台北綠園店</option>
          <option value="高雄市鳳山店">台中清水旗艦店</option>
          <option value="高雄市鳳山店">高雄中正形象店</option>
          <option value="高雄市鳳山店">高雄夢時代店</option>
        </select>
      </div>
      <div class="shopList-content">
        <div class="shopList-card">
          <div class="shopList-pic"><img src="/assets/images/store-1.png" alt="store"></div>
          <div class="shopList-info">
            <div class="shopList-info-title">台北中山旗艦店</div>
            <ul class="shopList-list">
              <li><span class="material-symbols-outlined">call</span>電話：(02)000-1234</li>
              <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
              <li><span class="material-symbols-outlined">location_on</span>地址：台北市中山區南京東路25巷2-1號</li>
            </ul>
          </div>
          <a href="shop-detail.html" class="btn-detail">詳細資訊</a>
        </div>
        <div class="shopList-card">
          <div class="shopList-pic"><img src="/assets/images/store-2.png" alt="store"></div>
          <div class="shopList-info">
            <div class="shopList-info-title">台北綠園店</div>
            <ul class="shopList-list">
              <li><span class="material-symbols-outlined">call</span>電話：(02)000-2345</li>
              <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
              <li><span class="material-symbols-outlined">location_on</span>地址：台北市中正區復興南路 132-1 號</li>
            </ul>
          </div>
          <a href="shop-detail.html" class="btn-detail">詳細資訊</a>
        </div>
        <div class="shopList-card">
          <div class="shopList-pic"><img src="/assets/images/store-3.png" alt="store"></div>
          <div class="shopList-info">
            <div class="shopList-info-title">台中清水旗艦店</div>
            <ul class="shopList-list">
              <li><span class="material-symbols-outlined">call</span>電話：(02)000-1234</li>
              <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
              <li><span class="material-symbols-outlined">location_on</span>地址：台中市清水區經南一路 23 號 8 樓</li>
            </ul>
          </div>
          <a href="shop-detail.html" class="btn-detail">詳細資訊</a>
        </div>
        <div class="shopList-card">
          <div class="shopList-pic"><img src="/assets/images/store-4.png" alt="store"></div>
          <div class="shopList-info">
            <div class="shopList-info-title">高雄中正形象店</div>
            <ul class="shopList-list">
              <li><span class="material-symbols-outlined">call</span>電話：(07)000-2345</li>
              <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
              <li><span class="material-symbols-outlined">location_on</span>地址：高雄市苓雅區中正路 38 號 12 樓</li>
            </ul>
          </div>
          <a href="shop-detail.html" class="btn-detail">詳細資訊</a>
        </div>
        <div class="shopList-card">
          <div class="shopList-pic"><img src="/assets/images/store-5.png" alt="store"></div>
          <div class="shopList-info">
            <div class="shopList-info-title">高雄夢時代店</div>
            <ul class="shopList-list">
              <li><span class="material-symbols-outlined">call</span>電話：(02)000-1234</li>
              <li><span class="material-symbols-outlined">schedule</span>營業時間：10:00-21:00</li>
              <li><span class="material-symbols-outlined">location_on</span>地址：高雄市前鎮區中華一路 63 號 6 樓</li>
            </ul>
          </div>
          <a href="shop-detail.html" class="btn-detail">詳細資訊</a>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
